<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <% articles.forEach((article) => { %>
    <div>
      <p>
        <b>title :</b
        ><a href="/articles/<%=article.id%>"> <%= article.title %></a>
      </p>
      <p><b>body :</b> <%= article.body %></p>
      <p>------------------------------------</p>
    </div>
    <%})%>

    <button><a href="/articles/create">Create Article</a></button>
  </body>
</html>
